<p>Dear <%= @guest.name %>,</p>
<p>Your friend <%= @host.name %> has invited you to come camping near <%= @event.address %>. <%= @host.name %> has described this trip as:</p><p>"<%= @event.description %>"</p><p> Follow this <a href="camp-collab.herokuapp.com/hosts/<%= @host.id %>/events/<%= @event.id %>/<%= @guest.token %>">link</a> learn more about the trip and to view a list of items that are needed to get out in the wild and have an amazing time. Hurry, <%= @host.name %> is counting on you to make this trip a success.
<p>We hope that you have an amazing time out there and that you don't get eaten by anything large and scary!</p>
<p>Happy Trails,</p>
<p>Camp Collab Team</p>