<p><%= @guest.name %>,</p>
<p>Your friend <%= @host.name %> has invited you to go on an upcoming camping trip. Follow this <a href="camp-collab.herokuapp.com/hosts/<%= @host.id %>/events/<%= @event.id %>/<%= @guest.token %>">link</a> to view the trip details and view the list of items that are needed to make the trip successful.</p>
<p>From everyone at Camp Collab, we hope you have an amazing trip!</p>
<p>From,</p>
<p>Camp Collab Team</p>