<div id="landing_content">
  <h2>Plan Camping Trips With Your Friends</h2>
</div>
<div class="tab-content">

  <div id="login_row" class="row-fluid landing-row tab-pane active">
    <div class="span4"></div>
    <div id="login_form" class="span4">
      <%= form_tag sessions_path, class: "login_form" do %>
      <div class="field">
        <%= text_field_tag :email, params[:email], :placeholder => "email" %>
      </div>
      <div class="field">
        <%= password_field_tag :password, "", :placeholder => "password" %>
      </div>
      <div class="actions"><%= submit_tag "Log in", :class => "btn btn-success", :style => "width: 100%;" %></div>
      <a href="#signup_row" class="landing_page_link" data-toggle="tab">Create Account</a>
      <% end %>
    </div>
    <div class="span4"></div>
  </div>

  <div id="signup_row" class="row-fluid landing-row tab-pane">
    <div class="span4"></div>
    <div id="login_form" class="span4">
      <%= form_for @host do |f| %>
      <% if @host.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @host.errors.full_messages %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="field">
        <%= f.text_field :name, :placeholder => "name" %>
      </div>
      <div class="field">
        <%= f.text_field :email, :placeholder => "email" %>
      </div>
      <div class="field">
        <%= f.text_field :phone, :placeholder => "phone" %>
      </div>
      <div class="field">
        <%= f.password_field :password,  :placeholder => "password" %>
      </div>
      <div class="actions">
        <%= f.submit "Create Account", :class => "landing_button btn btn-success", :style => "width: 100%;" %>
      </div>
      <div class="field">
          <a href="#login_row" data-toggle="tab" class="landing_page_link" style="width: 100%;">Log In</a>
      </div>
      <% end %>
    </div>
    <div class="span4"></div>
  </div>
</div>



</div>