
<div id="events_page_tabs" class="tab-content">

  <div id="events_list" class="tab-pane active">
    <div id="events_page_header">
    <h2>You know you're excited to go camping.</h2>
    <% if @events.first %>
        <h4>Figure out who is bringing what and get out there.</h4>
    <% else %>
        <h4>Create a trip and get started.</h4>
    <% end %>
  </div>
    <%= render partial: 'events', locals: {events: @events} %>
  </div>


  <div id="event_form" class="tab-pane">

    <%= form_for(@event, url: host_events_path(@host)) do |f| %>
    <% if @event.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @event.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end  %>

    <div id="event_form_tabs" class="tab-content">

      <div id="event_name_form" class="tab-pane active">
        <h2>What's the name of your camping trip?</h2>
        Name:<%= f.text_field :name %>
        <button class="btn" id="nexttab" type="button">Continue</button>
      </div>

      <div id="event_start_date_form" class="tab-pane">
        <h2>When does it start?</h2>
        Date:<%= f.text_field :start_day, :type => 'date' %>
        Time:<%= f.text_field :start_time, :type => 'time'  %>
        <button class="btn" id="prevtab" type="button">Go back</button>
        <button class="btn" id="nexttab" type="button">Continue</button>
      </div>

      <div id="event_end_date_form" class="tab-pane">
        <h2>When does it end?</h2>
        End Date:<%= f.text_field :end_day, :type => 'date'  %>
        End Time:<%= f.text_field :end_time, :type => 'time' %>
        <button class="btn" id="prevtab" type="button">Go back</button>
        <button class="btn" id="nexttab" type="button">Continue</button>
      </div>

      <div id="event_location_form" class="tab-pane">
        <h2>Where is it?</h2>
        Camp Site:<%= f.text_field :camp_site %>
        Address:<%= f.text_field :address %>
        Latitude:<%= f.text_field :latitude %>
        Longitude:<%= f.text_field :longitude%>
        City:<%= f.text_field :city %>
        State:<%= f.text_field :state %>
        Zip:<%= f.text_field :zip %>
        <button class="btn" id="prevtab" type="button">Go back</button>
        <button class="btn" id="nexttab" type="button">Continue</button>
      </div>

      <div id="event_camp_site_form" class="tab-pane">
        <h2>Any other details?</h2>
        Description:<%= f.text_field :description %>
        <button class="btn" id="prevtab" type="button">Go back</button>
        <%= f.submit  %>
      </div>

      <% end %>

    </div>

  </div>

</div>
