<h1> Here are your events!</h1>

<%= form_for(@event, url: host_events_path(@host)) do |f| %>
  <% if @event.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @event.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end  %>
  Name:<%= f.text_field :name %>
  Camp Site:<%= f.text_field :camp_site %>
  Address:<%= f.text_field :address %>
  City:<%= f.text_field :city %>
  State:<%= f.text_field :state %>
  Description:<%= f.text_field :description %>
  Zip:<%= f.text_field :zip %>
  <%= f.submit  %>
<% end %>


<div>

  <%= render partial: 'events', locals: {events: @events} %>

</div>