
<div id="events_page_tabs" class="tab-content">

  <div id="events_list" class="tab-pane active">
    <div id="events_page_header">
    <h2>You know you're excited to go camping.</h2>
    <% if @events.first %>
        <h4>Figure out who is bringing what and get out there.</h4>
    <% else %>
        <h4>Create a trip and get started.</h4>
    <% end %>
  </div>
    <%= render partial: 'events', locals: {events: @events} %>
  </div>


  <div id="event_form" class="tab-pane">

    <%= form_for(@event, url: host_events_path(@host)) do |f| %>
    <% if @event.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @event.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end  %>

    <div id="event_form_tabs" class="tab-content">

      <div id="event_name_form" class="tab-pane active">
        <h2>What's the name of your camping trip?</h2>
        <%= f.text_field :name, :placeholder => "Name" %>
        <button class="btn" id="nexttab" type="button">Continue</button>
      </div>

      <div id="event_start_date_form" class="tab-pane">
        <h2>When is it?</h2>
        <%= f.text_field :start_day, :placeholder => "Start Date", :id => 'datepicker' %>
        <%= f.time_select :start_time, :default => Time.now, :ampm => true  %>
        <button class="btn" id="prevtab" type="button">Go back</button>
        <button class="btn" id="nexttab" type="button">Continue</button>
      </div>

      <div id="event_end_date_form" class="tab-pane">
        <h2>When does it end?</h2>
        <%= f.text_field :end_day, :placeholder => "End Date", :id => 'datepicker' %>
        <%= f.time_select :end_time, :default => Time.now, :ampm => true  %>
        <button class="btn" id="prevtab" type="button">Go back</button>
        <button class="btn" id="nexttab" type="button">Continue</button>
      </div>

      <div id="event_location_form" class="tab-pane">
        <h2>Where is it?</h2>
        <%= f.text_field :camp_site, :placeholder => "Campsite" %>
        <%= f.text_field :address, :placeholder => "Location*" %>
        <%= f.hidden_field :latitude %>
        <%= f.hidden_field :longitude%>
        <button class="btn" id="prevtab" type="button">Go back</button>
        <button class="btn" id="nexttab" type="button">Continue</button>
      </div>

      <div id="event_camp_site_form" class="tab-pane">
        <h2>Any other details?</h2>
        <%= f.text_field :description, :placeholder => "Description" %>
        <button class="btn" id="prevtab" type="button">Go back</button>
        <%= f.submit  %>
      </div>
      <% end %>

    </div>

  </div>

</div>

<script>
$(function() {
  $( "#datepicker" ).datepicker();
});
</script>