
<div id="events_page_tabs" class="tab-content">

  <div id="events_list" class="tab-pane active">
    <div id="events_page_header">
    <h2>You know you're excited to go camping.</h2>
    <% if @events.first %>
        <h4>Figure out who is bringing what and get out there.</h4>
    <% else %>
        <h4>Create a trip and get started.</h4>
    <% end %>
     <a href="#event_form" data-toggle="tab" class="btn btn-success">Create Camping Trip</a>
  </div>
    <%= render partial: 'events', locals: {events: @events} %>
  </div>


  <div id="event_form" class="tab-pane">

    <%= form_for(@event, url: host_events_path(@host)) do |f| %>
    <% if @event.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @event.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end  %>

    <div id="event_form_tabs" class="tab-content">

      <div id="event_name_form" class="tab-pane active">
        <h2>Go ahead and name your camping trip.</h2>
        <h4>We suggest something creative.</h4>

        <%= f.text_field :name, :placeholder => "Name" %>
        <button class="btn" id="nexttab" type="button">Continue</button>
      </div>

      <div id="event_start_date_form" class="tab-pane">
        <h2>Nice job, that's totally creative.</h2>
        <h4>When do you leave? When will you get back?</h4>
        <%= f.text_field :start_day, :placeholder => "Start Date", :id => 'datepicker' %>
        <%= f.time_select :start_time, :default => Time.now, :ampm => true  %>
        <%= f.text_field :end_day, :placeholder => "End Date", :id => 'datepicker' %>
        <%= f.time_select :end_time, :default => Time.now, :ampm => true  %>
        <button class="btn" id="prevtab" type="button">Go back</button>
        <button class="btn" id="nexttab" type="button">Continue</button>
      </div>

      <div id="event_end_date_form" class="tab-pane">
        <h2>Great. Now for a campsite...</h2>
        <h4>Official or unofficial, give your campsite a name.</h4>
        <%= f.text_field :camp_site, :placeholder => "Campsite" %>
        <button class="btn" id="prevtab" type="button">Go back</button>
        <button class="btn" id="nexttab" type="button">Continue</button>
      </div>

      <div id="event_location_form" class="tab-pane">
        <h2>And just where is this campsite anyway?</h2>
        <h4>If you don't know yet, just leave this field blank.</h4>
        <%= f.text_field :address, :placeholder => "Address (as specific as you want)" %>
        <%= f.hidden_field :latitude %>
        <%= f.hidden_field :longitude%>
        <button class="btn" id="prevtab" type="button">Go back</button>
        <button class="btn" id="nexttab" type="button">Continue</button>
      </div>

      <div id="event_camp_site_form" class="tab-pane">
        <h2>Take a moment and describe your trip.</h2>
        <h4>When you invite your friends, this will be the first thing they see. So make it good.</h4>
        <%= f.text_area :description, :placeholder => "Description" %>
        <button class="btn" id="prevtab" type="button">Go back</button>
        <%= f.submit class: "btn btn-success"  %>
      </div>
      <% end %>

    </div>

  </div>

</div>

<script>
$(function() {
  $( "#datepicker" ).datepicker();
});
</script>
