<h1>Event Name: <%= @event.name %></h1>
<h2>Host Name: <%= @host.name %></h2>
<h3>List Items:</h3>

<%= form_for(@item, url: event_items_path(@event)) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :price %>

  <%= f.submit  %>
<% end %>

<div>
<%= render 'items/items', items: @items %>
</div>