<h1>Event Name: <%= @event.name %></h1>
<h6>Event Address: <%= @event.address %></h2>
<h6>Host Email: <%= @host.email %></h2>

<h4>Add Item</h4>
<%= form_for(@item, url: event_items_path(@event), :remote => true) do |f| %>
  Name: <%= f.text_field :name %>
  Price:<%= f.text_field :price %>
        <%= f.submit  %>
<% end %>

<h3>List Items:</h3>
<div class="item-list">
<%= render 'items/items', items: @items %>
</div>