<%- model_class = Item -%>



<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:essential) %>?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <% event.items.order('created_at ASC').all.each do |item| %>
      <tr class="<% if item.important? %>important<% end %> <% if item.important? %>purchased<% end %>">
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= link_to "yes/no", important_path(event, item), :remote => true, :class =>"add_importance"%></td>
        <td>
          <% unless item.purchased %>
            <%= link_to "I got it", event_item_path(event, item, :item => {:purchased => true, :guest_id => session[:guest_id], :host_id => session[:host_id]}), :method=> :put, :class => 'btn btn-mini btn-primary', :remote => true%>
          <% else %>

          <% if item.host.present? %>
            <% item_owner = item.host.name %>
          <% else %>
            <% item_owner = item.guest.name %>
          <% end %>
          <%= item_owner %> is bringing this
          <%= link_to "Don't got it! :(", event_item_path(event, item, :item => {:purchased => false, :guest_id => nil, :host_id => nil}), :method => :put, :remote => true, :class => 'unclaim' %>
          <% end %>
        </td>
        <td><%= link_to "X", event_item_path(event, item), :method => :delete, :remote =>true, :class => 'dlt-item'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
