<%- model_class = Item -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:important) %>?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>



    <% @items.each do |item| %>
    <tr class="<% if item.important == true %>important<% end %> <% if item.important == true %>purchased<% end %>">
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= check_box_tag(:important) %></td>
      <td><% if item.purchased == false %>
        <%= link_to "I got it", event_item_path(@event, item, :item => {:purchased => true, :guest_id => session[:guest_id], :host_id => session[:host_id]}), :method=> :put, :class => 'btn btn-mini'%>
        <% else %>
        <% if item.host_id != nil %>
          <% item_owner = Host.find(item.host_id).name %>
        <% else %>
          <% item_owner = item.guest.name %>
        <% end %>
          <%= item_owner %> is bringing this
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
